.terapia-section {
    background-color: #FCD3DA;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

/* Texto destacado (¿¡IMPORTANTE?!) */
.highlight {
    font-size: 50px;
    color: #E52344;
    font-weight: bold;
    margin-right: 60px;
}

/* Caja de contenido */
.content-box {
    padding: 25px 60px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
}

/* Título y texto resaltado */
.content-box h2 {
    font-weight: bold;
    color: #555;
    margin-top: 20px;
    text-align: center;
}

.highlight-text {
    color: #E52344;
    font-weight: bold;
    text-align: center;
}

.content-box p {
    font-size: 1em;
    color: #555;
    line-height: 1.6;
    margin-bottom: 10px;
    text-align: center;
}

/* Responsive para pantallas pequeñas */
@media (max-width: 768px) {
    .terapia-section {
        flex-direction: column; /* Apila el contenido verticalmente */
        padding: 20px; /* Reduce el padding para pantallas pequeñas */
    }

    .highlight {
        margin: 100px 0 40px 0; /* Ajusta el margen para centrar el texto */
        text-align: center;
    }

    .content-box {
        max-width: 100%; /* Asegura que el cuadro de contenido ocupe todo el ancho */
        padding: 50px; /* Ajusta el padding para pantallas pequeñas */
        text-align: center; /* Centra el texto */
        margin: 20px 0 100px 0; 
    }

    .content-box h2 {
        font-size: 1.5em; /* Ajusta el tamaño del título en pantallas pequeñas */
    }

    .content-box p {
        font-size: 0.95em; /* Reduce ligeramente el tamaño del texto */
    }
}