.navbar-dark .navbar-nav .nav-link {
  color: #606060; /* Color del texto (gris oscuro) */
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #808080; /* Color del texto cuando se pasa el mouse */
}

.navbar-dark .navbar-nav .nav-link.active {
  color: #ff3366; /* Color rosado cuando está activo */
}

.navbar-dark .navbar-toggler-icon {
  background-color: transparent; /* Asegúrate de que el ícono sea visible */
}

.navbar {
  background-color: white; /* Fondo blanco del navbar */
}

.collapse .navbar-nav {
  background-color: white; /* Fondo blanco para menú desplegable */
}





