body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}
.terapias-solicitadas h2 {
    font-size: 28px;
    color: #E83F5C;
}

.highlight {
    color: #E83F5C;
    
}

.terapias-container {
    display: flex;
    gap: 40px; /* Espacio entre las tarjetas */
    justify-content: center;
    flex-wrap: wrap;
}

.terapia-card {
    width: 577px;
    height: 386px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.terapia-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(70%);
    border-radius: 10px;
}

.terapia-text {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}